.blog-skew-wrapper{
    width: 100%;
    position: relative;
    margin-top: 200px;
}

.blog-skew-wrapper .skew{
    width: 60%;
    transform: skewY(5deg);
    position: absolute;
    height: 200px;
}
.blog-skew-wrapper .left{
    background-color: rgb(54, 54, 54);
    left: 0;
}


.blog-skew-wrapper .right{
    background-color: rgb(83, 83, 83);
    right: 0;
}

.blog-skew-wrapper h1{
    position: absolute;
    margin-top: 80px;
    left: 50%;
    margin-left: -25px;
    color: white;
}


.blogs{
    margin: 500px auto auto auto ;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    
}


.blogs .blog{
    width: 300px;
    overflow: hidden;
    background-color: white;
    margin:20px 20px ;
    height: fit-content;
    transition: 0.2s;

}

.blogs .blog:hover{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.178);
    transform: scale(1.01);
}

.blog .blog-img{
    height: 200px;
    margin: 10px;
    transition: 0.3s;
}

.blog .blog-img:hover{
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.178));
    transform: scale(1.1);
}

.blog h3{
    margin: 10px;
    text-decoration: none;
    color: black;
}

.blog p{
    margin: 0 10px 10px 10px;
    color: rgb(94, 94, 94);
    text-decoration: none;
}

.blog a{
    text-decoration: none;
}


@media screen and (max-width:500px){
    .blogs .blog{
        width: 90%;
        margin: 10px 5% 10px 5%;
    }
}
