.contact-skew-wrapper{
    width: 100%;
    display: flex;
    margin-top: 200px;
    position: relative;
    
}

.contact-skew-wrapper h1{
    position: absolute;
    color: white;
    left: 50%;
    margin-left: -60px;
    top: 50%;


}

.contact-skew-wrapper .skew{
    width: 50%;
    height: 200px;
    top: -100px;
    position: absolute;
    background-color: rgb(36, 36, 36);
}

.contact-skew-wrapper .left{
    transform: skewY(10deg);
    left: 0;
    
}

.contact-skew-wrapper .right{
    transform: skewY(-10deg);
    right: 0;
}

.contact{
    margin-top: 250px;
    position: relative;
    overflow: hidden;
}

.contact .mail{
    max-width: 500px;
    height: 300px;
    background-color: white;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.contact .wrapper{
    display: flex;

}

.mail .skew{
    background-color: rgba(0, 0, 0, 0.281);
    height: 50px;
    width: 50%;
    margin-top: 45px;
}

.gear{
    position: absolute;
    z-index: -2;
    opacity: 0.3;
}

.contact .one{
    height: 100px;
    width: 100px;
    left: 0%;

}

.contact .two{
    height: 130px;
    width: 130px;
    left: 80%;

}
.contact .three{
    height: 90px;
    width: 90px;
    left: 8%;

}
.contact .four{
    height: 150px;
    width: 150px;
    left: 90%;
    top: -10%;

}
.send-button{
    width: fit-content;
    margin: 30px auto;
    background-color:rgb(48, 48, 48) ;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.1s;
    cursor: pointer;
}

.send-button:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.349);
}


@media screen and (max-width:500px){
    .contact .mail{
        width: 90%;
        margin: 20px 5% 10px 5%;
        height: 200px;
    }
    .mail .skew{
        margin-top: 20px;
    }

    .wing{
        display: none;
    }

    .contact .one{
        display: none;
    }
    .contact .four{
        display: none;
    }
}