.projects{
    margin-top: 100px;
    transition: 0.3s;
}

.projects .project{
    background-color: white;
    text-align: center;
    display: flex;
    margin: 10px auto 20px auto;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    height: 90%;
    padding-bottom: 20px;
}


.project img{
    margin: auto;
    z-index: 3;
}

.project .project-heading{
    margin: auto;
    text-align: start;
}
.project h1{
    margin-bottom: 5px;
}

.project p{
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(80, 80, 80);
}

.project a{
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 10px 20px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 10px;

    transition: 0.2s;
}
.project  a:hover{
    box-shadow:0 10px  rgba(0, 0, 0, 0.301);
}

@media screen and (max-width:500px){
    .project .project-heading{
        text-align: center;
    }
}