.projects{
    margin-top: 100px;
  
}

.projects .project{
    background-color: white;
    text-align: center;
    display: flex;
    margin: 10px auto 20px auto;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    height: 90%;
}


.project img{
    margin: auto;
    z-index: 3;
}

.project .project-heading{
    margin: auto;
    text-align: start;
}
.project h1{
    margin-bottom: 5px;
}

.project p{
    margin-top: 0;
    color: rgb(80, 80, 80);
}



@media screen and (max-width:500px){
    .project .project-heading{
        text-align: center;
    }
}